## Plantilla de preprocesado

In [3]:
#numpy, libreria de python para el tratamiento de numeros (arrays: +,-,*,/)
#matplotlib, libreria para graficar
#pandas, libreria para manipular datos (excel)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#Importar el dataset
dataset=pd.read_csv('Resources/Data.csv')

In [13]:
#X son las variables independientes del algoritmo (Country, Age, Salary)
#Y es la variable que se quiere precedir (Purchased=Comprado)
#Observaciones son la filas
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [30]:
type(dataset)

pandas.core.frame.DataFrame

In [34]:
x=dataset.iloc[:,:-1]

In [48]:
y=dataset.iloc[:,3]

In [46]:
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [49]:
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object